@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700@400;700&display=swap");
@import url("tldraw/tldraw.css");

body {
    font-family: "Inter", sans-serif;
    background-color: #f8f8f8;
    width: 96vw;
    max-width: 600px;
    margin: 0 auto;
}

.homepage {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}

.editing-codeblock {
    /* --color-selected: thistle; */
    /* --color-focus: #C59FC5; */
    --color-selected: #c59fc5;
}

h1 {
    font-size: 3.2em;
    margin-bottom: 0.6em;
    color: #3182ed;
    text-shadow: 1px 1px 0px #1368D8;
    letter-spacing: 8px;
}

.board-list {
    background-color: #fefefe;
    border: 1px solid #fdfdfd;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;   
}

.new-board {
    margin-bottom: 2em;
}

.list-entry {
    position: relative;
    background-color: #3182ed;
    color: #fefefe;
    margin: 16px;
    border-radius: 999px;
    line-height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.list-entry:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1368D8;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

.cell-editor {
  font-family: monospace;
  font-weight: 400;

  border: none;
  height: auto;
  color-scheme: dark;

  font-size: 14px;
  line-height: 1.45em;

  box-shadow: 0 0 5px 1px #000000c6;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background: black;

  margin-top: 5px;
  /* margin-left: 5px;
  margin-right: 5px; */
  /* padding-left: 5px;
  padding-right: 5px; */

/* 
  margin-top: 25px;
  margin-bottom: 25px; */
}

.snippet-output {
  font-size: 14px;
  line-height: 1.45em;

  border-style: none;
  border-radius: 0px;
  margin: 0px;
  color: white;
  background-color: black;
  max-height: 300px;
  padding: 10px 20px;
  color-scheme: dark;

  overflow: auto;
}

/* Log Line Colors */
.output-log {
  color: white;
}
.output-error {
  color: red;
}
.output-warn {
  color: yellow;
}

.run-bar {
  text-align: center;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s;

  display: flex;
  flex-direction: column;

  justify-content: center;

  font-family: monospace;
  font-weight: 400;
  font-size: 14px;
  height: 2.5em;
}
.run-bar-ready {
  background-color: #044a10;
  color: #6cd97e;
  cursor: pointer;
}
.run-bar-ready:hover {
  color: white;
  background-color: rgb(0, 145, 24);
}
.run-bar-running {
  background-color: #3477eb;
  color: #6cd97e;
}

.cell-header {
  text-align: center;

  color: #6cd97e;
  cursor: pointer;

  background-color: #044a10;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  font-weight: 400;

  font-size: 14px;
  height: 2.5em;

  transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}
.cell-header:hover {
  color: white;
  background-color: rgb(0, 145, 24);
}

.cm-editor {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

script[type="text/notebook-cell"] {
  display: block;
  white-space: pre;

  background-color: rgb(40, 44, 52);
  color: rgb(171, 178, 191);
  padding: 10px;

  font-family: monospace;

  font-size: 14px;
  line-height: 1.45em;

  overflow-x: auto;

  box-shadow: 0 0 5px 1px #000000c6;
  border-radius: 4px;

  margin-top: 25px;
  margin-bottom: 25px;
}